.place__website__link {
  display: block;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
  margin-top: 12px;
  color: var(--color-text-primary);
}

.place__website__link:hover {
  opacity: 0.8;
}
