.cover__overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--color-bg);
  grid-row: 1 / 3;
  grid-column: 1;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.cover:hover > .cover__overlay {
  opacity: 0.8;
}
