.intro__title {
  margin: 0;
  max-width: 690px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.07;
  color: var(--color-text-primary);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
